.custom-subtitle {
    position: absolute;
    top: 110px;
    width: 50%;
}

.sizingSvg {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.font-size-1 {
    font-size: 1rem;
}

#mapLeaflet {
    position: fixed !important;
    bottom: 0;
    right: 0;
    left: 58.3333333333%;
    z-index: 0;
}

.headerCard {
    background-color: transparent;
}

hr.separator {
    opacity: 1;
    width: 90%;
    margin: auto;
}

.badgeCity {
    border-radius: 25px;
    background: #2E3244;
    color: white;
    height: fit-content;
    margin: .25em;
    padding: .25em;
    width: 30.9%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .25);
}