<template>
    <v-app-bar dense class='headerNav position-fixed top-0'>
        <div class='d-flex align-center cta' v-on:click='goHome'>
            <v-icon class='me-1'>mdi-home</v-icon>
            <v-toolbar-title>Portfolio</v-toolbar-title>
        </div>
        
        <v-spacer></v-spacer>

        <span class='d-flex align-center me-4 cta' v-on:click='goTo("profils")'><v-icon class="me-1">mdi-account-multiple-outline</v-icon>Les profils</span>

        <v-menu v-if='isLog()' bottom open-on-hover>
            <template v-slot:activator='{ on, attrs }'>
                <span v-bind="attrs" v-on="on">
                    <v-icon class='me-1'>mdi-account-circle</v-icon>Mon espace
                </span>
            </template>
            <v-list class="mt-9">
                <v-list-item class="cta">
                    <v-list-item-title @click="goTo('account/profil')">Profil</v-list-item-title>
                </v-list-item>

                <v-list-item class="cta">
                    <v-list-item-title key='1' @click="logout">Déconnexion</v-list-item-title>
                </v-list-item>
            </v-list>
            
        </v-menu>
        <span v-else class='cta' v-on:click='$refs.modalLogin.dialog = true'><v-icon class='me-1'>mdi-account-circle-outline</v-icon>Connexion</span>

        <div v-if='!isLog()'>
            <modal-login ref='modalLogin'></modal-login>
            <modal-register ref='modalRegister'></modal-register>
            <modal-password ref='modalPswd'></modal-password>
            <modal-code ref='modalCode'></modal-code>
        </div>
    </v-app-bar>
</template>

<script src='./Header.js'></script>
<style lang="scss" src='./Header.scss'></style>