.cta {
    cursor: pointer;
}

.title-card {
    border-bottom: 1px solid black;
}

.v-application,
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-h6 {
    font-family: Comfortaa !important;
}

div[class^='v-card-'] {
    overflow: hidden;
}

html body button.btnAct {
    background-color: #F1895C !important;
    color: #FFF !important;
    border-radius: 4em;
    padding: 0.2em 0.5em;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
}