<template>
    <v-dialog v-model='dialog' max-width="600px">
        <v-card class="v-card-code">
            <v-card-title class='text-h5 title-card py-2'>
                Confirmer mon compte
                <v-spacer></v-spacer>
                <v-btn icon fab small text v-on:click='close'><v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>

            <v-card-text class="py-2">
                <v-row class="d-md-flex flex-column align-center">
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-col xs="12" md="8" class="ma-auto">
                            <v-text-field name="mail" label="Email" :value="email" readonly></v-text-field>
                        </v-col>

                        <v-col xs="12" md="8" class="row ma-auto justify-content-between py-0">
                            <v-col xs="12" md="2" class="pa-0">
                                <v-text-field min="0" max="9" type="number" name="firstCode" data-target="secondCode" @keyup='nextInput($event.target)'></v-text-field>
                            </v-col>

                            <v-col xs="12" md="2" class="pa-0">
                                <v-text-field min="0" max="9" type="number" name="secondCode" data-target="thirdCode" @keyup='nextInput($event.target)'></v-text-field>
                            </v-col>

                            <v-col xs="12" md="2" class="pa-0">
                                <v-text-field min="0" max="9" type="number" name="thirdCode" data-target="lastCode" @keyup='nextInput($event.target)'></v-text-field>
                            </v-col>

                            <v-col xs="12" md="2" class="pa-0">
                                <v-text-field min="0" max="9" type="number" name="lastCode"></v-text-field>
                            </v-col>
                        </v-col>

                        <v-col xs="6" class='text-center' v-bind:class="{'cursorwait' : submit}">
                            <v-btn elevation="2" color="primary" v-on:click="sendCode" rounded v-bind:disabled="submit">
                                <div class="spinner-border text-dark mr-1 spinnerSubmit" v-if='submit' role="status"></div>
                                Valider mon compte
                            </v-btn>
                        </v-col>
                    </v-form>
                </v-row>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions></v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script src='./Code.js'></script>
<style lang="scss" src="./Code.scss"></style>