<template>
    <v-dialog v-model="dialog" max-width="600px">
        <v-card class="v-card-reg">
            <v-card-title class='text-h5 title-card py-2'>
                Inscription
                <v-spacer></v-spacer>
                <v-btn icon fab small text v-on:click='close'><v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>

            <v-card-text class="py-2">
                <v-row class="d-md-flex flex-column align-center">
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-col xs="12" md="8" class="ma-auto">
                            <v-radio-group row>
                                <v-radio name="civility" label="Mme." value="Mme"></v-radio>
                                <v-radio name="civility" label="Mr." value="Mr"></v-radio>
                            </v-radio-group>
                        </v-col>
                        
                        <v-col xs="12" md="8" class="row ma-auto justify-content-between py-0">
                            <v-col xs="12" md="5" class="pa-0">
                                <v-text-field :rules="rules.lastname" name="lastname" label="Nom"></v-text-field>
                            </v-col>

                            <v-col xs="12" md="5" class="pa-0">
                                <v-text-field name="firstname" label="Prénom"></v-text-field>
                            </v-col>
                        </v-col>

                        <v-col xs="12" md="8" class="ma-auto py-0">
                            <v-text-field v-model='email' name="mail" label="Email"></v-text-field>
                        </v-col>
                        
                        <v-col xs="12" md="8" class="ma-auto py-0">
                            <v-text-field label="Mot de passe" :type="showPswd ? 'text' : 'password'" :append-icon="showPswd ? 'mdi-eye' : 'mdi-eye-off'" @click:append="showPswd = !showPswd" name="pswd" ></v-text-field>
                        </v-col>

                        <v-col xs="6" class='text-center' v-if="!submit">
                            <v-btn elevation="2" color="primary" v-on:click="register" rounded>
                                Inscription
                            </v-btn>
                        </v-col>

                        <v-col xs="6" class='text-center cursorwait' v-else>
                            <v-btn elevation="2" color="primary" v-on:click="register" rounded disabled>
                                <div class="spinner-border text-dark mr-1 spinnerSubmit" role="status"></div>
                                Inscription
                            </v-btn>
                        </v-col>
                        
                        <v-col xs="6" class='text-center'>
                            <span>Vous avez déjà un compte ? <a href="#" v-on:click='log'>Connectez-vous</a></span>
                        </v-col>
                    </v-form>
                </v-row>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions></v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script src='./Register.js'></script>
<style lang='scss' src='./Register.scss'></style>