<template>
    <v-parallax dark :src="imgCode" alt="Image code" title="Image code" height="500" class="position-relative mt-12">
        <div class="v-parallax-dark"></div>
        <h1 class="font-weight-thin text-center">
            Portfolio
        </h1>
    </v-parallax>
</template>

<script src='./Home.js'></script>
<style lang="scss" src='./Home.scss'></style>