<template>
    <v-container fluid class="w-25 ma-auto">
        <v-text-field label="Email"></v-text-field>
        <v-text-field label="Mot de passe" type="password"></v-text-field>

        <v-btn color="primary">Connexion</v-btn>
    </v-container>
</template>

<script src="./Login.js"></script>