.v-icon-network {
    text-align: center;
}

.v-icon-network svg {
    width: 3em;
    height: 3em;
}

hr {
    margin: 0;
}

.spinnerSubmit {
    width: 1.5em;
    height: 1.5em;
}

.cursorwait {
    cursor: wait;
}