<template>
    <v-dialog v-model="dialog" max-width="600px">
        <v-card class='v-card-pswd'>
            <v-card-title class='text-h5 title-card py-2'>
                <v-btn icon fab small text v-on:click='log'><v-icon>mdi-arrow-left</v-icon></v-btn>
                Réinitialisation du mot de passe
                <v-spacer></v-spacer>
                <v-btn icon fab small text v-on:click='close'><v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>

            <v-stepper v-model="e6" vertical>
                <v-stepper-step step="1" :complete="e6 > 1">
                    Envoyer un mail
                </v-stepper-step>
                <v-stepper-content step="1">
                    <v-card-text class="py-2">
                        <v-row class="d-md-flex flex-column align-center">
                            <v-col xs="12" md="8">
                                <v-text-field v-model="mail" :rules="rules.mail" label="Email"></v-text-field>
                            </v-col>

                            <v-col xs="6" class='text-center'>
                                <v-btn elevation="2" color="primary" rounded @click="step2">Envoyer un mail</v-btn>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-stepper-content>

                <v-stepper-step step="2" :complete="e6 > 2" >
                    Saisir le code
                </v-stepper-step>
                <v-stepper-content step="2">
                    <v-card-text class="py-2">
                        <v-row class="d-md-flex flex-column align-center">
                            <v-col xs="12" md="8">
                                <v-text-field label="Code" v-model="code"></v-text-field>
                            </v-col>

                            <v-col xs="6" class="text-center">
                                <span>Vous n'avez pas reçu de mail ? <a :data-mail="mail" href="#">Renvoyer</a></span>
                            </v-col>

                            <v-col xs="6" class='text-center'>
                                <v-btn elevation="2" color="primary" rounded>Valider</v-btn>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-stepper-content>
            </v-stepper>
        </v-card>
    </v-dialog>
</template>

<script src='./Password.js'></script>